[submodule "exercise/day 2/tim challenge/final-basic-kotlin-team-1"]
	path = exercise/day 2/tim challenge/final-basic-kotlin-team-1
	url = https://github.com/adhli-business/final-basic-kotlin-team-1.git
[submodule "exercise/day 2/tim challenge/LoginApp"]
	path = exercise/day 2/tim challenge/LoginApp
	url = https://github.com/adhli-business/LoginApp.git
[submodule "exercise/day 3/DailyNotesApp"]
	path = exercise/day 3/DailyNotesApp
	url = https://github.com/WillmanSitumorang/daily-notes-app.git
[submodule "exercise/day 4/fragment-multistep-signup-team-1"]
	path = exercise/day 4/fragment-multistep-signup-team-1
	url = https://github.com/AhmadHafizh19/fragment-multistep-signup-team-1.git
[submodule "exercise/day 5/user-manager-day-5"]
	path = exercise/day 5/user-manager-day-5
	url = https://github.com/adhli-business/user-manager-day-5.git
